bin
build
target
target/*
repos
.classpath
.project
.settings
.gradle
.idea
*.log
*.class
*.war
*.ear
*.bak
*.iml
*.ipr
*.iws
rebel.xml
*.sublime-workspace
*.DS_Store
*.ini
*.gradletasknamecache
*~
.metadata
*.zip
